<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>OskarGrand</title>
</head>
<body>
    <div class="box">
        <div class="header center">
            <div class="logo">
                <a href=""><img class="img-logo" src="./img/ОскарСвг2.svg" alt=""></a>
            </div>
            <div class="menu">
                <a class="link-menu" href=""><p class="menu_text">УСЛУГИ</p></a>
                <a class="link-menu" href=""><p class="menu_text">ЦЕНЫ</p></a>
                <a class="link-menu" href=""><p class="menu_text">ВРАЧИ</p></a>
                <a class="link-menu" href=""><p class="menu_text">КОНТАКТЫ</p></a>
                <a class="link-menu" href=""><p class="menu_text">СТАТЬИ</p></a>
                <div class="menu-contact"><a class="link-menu" href="tel:+79088008080">+7 908 800 80 80</a>
                <p class="menu-mode">Режим работы: 9:00-21:00</p>
                </div>
                
            </div>
        </div>
        
        <div class="adaptivSlayder">


            <input type="radio" name="kadoves" id="slaid1" checked>
          
            <input type="radio" name="kadoves" id="slaid2">
          
            <input type="radio" name="kadoves" id="slaid3">
          
             
          
            <div class="kadoves">
          
            <label for="slaid1"></label>
          
            <label for="slaid2"></label>
          
            <label for="slaid3"></label>
          
            </div>
          
             
          
            <div class="adaptivSlayderlasekun">
          
            <div class="abusteku-deagulus">
          
            <img src="./img/фото1.jpeg"/>
          
            <img src="./img/фото2.jpeg"/>
          
            <img src="./img/фото3.jpeg"/>
          
            </div>
          
            </div>
          
          </div>
          <div class="widgets center">
          <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/sverdlovskaya_naberezhnaya_62/Z0kYcgdoSkwCQFtjfXV0c35mYA==/?ll=30.408953%2C59.952640&utm_medium=mapframe&utm_source=maps&z=18.79" style="color:#eee;font-size:12px;position:absolute;top:14px;">Свердловская набережная, 62 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.408953%2C59.952640&mode=whatshere&whatshere%5Bpoint%5D=30.408399%2C59.952606&whatshere%5Bzoom%5D=17&z=18.79" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
          <div class="contact-nav"><h1>Как нас найти</h1>
            <h2>Свердловская набережная 62</h2>
            <p>Ближайшие станции метро: Новочеркасская и Ладожская</p>
            <div class="menu-contact"><a class="link-menu" href="tel:+79088008080">+7 908 800 80 80</a>
                <p class="menu-mode">Режим работы:  9:00-21:00</p>
                </div>
        </div>

        </div>
    </div>
</body>
</html>